li {
  margin-bottom: 8px;
}
.navigation {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  font-size: 1.4rem;
  line-height: 30px;
  color: $white;

  &:before {
    content: '';
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: $peche;
    top: -150px;
    left: -160px;
    z-index: -1;
    animation: navAnim 8s infinite ease-in-out;

    @keyframes navAnim {
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    @media screen and (max-width: 430px){
      height: 50px;
      width: 50px;
    }

  }
  .nav-active {
    color: $white;
  }
  ul:hover li:not(:hover) {
    opacity: .5;
  }
  ul:hover li:hover {
    color: $white;
  }

  .nav-portfolio {
    cursor: pointer;
    display: flex;
    // padding-right: 6rem;
    transition: .5s;

    &:hover .nav-projects,
    .nav-projects:hover {

      visibility: visible;
      opacity: 1;

      li {
        transform: rotatey(0deg)
      }
    }

    .nav-projects {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      padding: 0px 40px;
      padding-left: 70px;
      width: 300px;
      transform: translateX(80px);
      transition: .5s ;
      perspective: 500px;

      li {
        transform: rotatey(70deg) scaleX(1.2);
        transform-origin: center;
        transition: .8s;
      }
    }
  }
}