.containerr{

    position: relative;
    width: 60%;
    height: 50%;
    margin: 13% auto;
    border-radius: 8px;
    box-shadow: 1px 0px 10px $peche;

    @media screen and (max-height: 650px){
        width: 600px;
        height: 300px;
    }

}

.pdf-container{

    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.5%;


    @media screen and (max-height: 650px){
        width: 550px;
        height: 250px;
    }

    // transform: scaleY(0);
    //     animation: transformContainer 1.5s ease forwards;
    //     @keyframes transformContainer {
    //         to {
    //             transform: scaleY(1);
    //         }
    //     }

}

