@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Questrial-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/KronaOne-Regular.ttf);
}

@font-face {
  font-family: "font-3";
  src: url(../assets/fonts/Dosis-Regular.ttf);
}

@font-face {
  font-family: "font-4:";
  src: url(../assets/fonts/Dosis-SemiBold.ttf);
}

@font-face {
  font-family: "font-5";
  src: url(../assets/fonts/SecularOne-Regular.ttf);

}
$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;
$font-3: "font-3", sans-serif;
$font-4: "font-4", sans-serif;
$font-5: "font-5";

$color-1: #fafeff;
$color-2: #00c1ec;
$color-3: #e7f7fe;
$color-4: rgb(141, 141, 141);
$color-background: #3C425E;
$pink: #FFABD6;
$black: rgb(40, 40, 40);
$red: rgb(253, 87, 87);
$white: white;
$peche: #FB9E76;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;

  &::selection {
    color: $white;
    background: $color-2;
  }
}
html { 
  scroll-behavior: unset;
}
a,
a:visited {
  color: $white;
}
body {
  font-family: $font-5;
  height: 100vh;
  background-color: $color-background;
  color: $white;
  overflow: hidden;

  @media screen and (max-width: 430px){
    position: relative;
    max-width: 100vw;
    overflow-y: initial;
  }
}
main {
  position: relative;
}
.button {
  background: $white;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    letter-spacing: 1px;
    color: $white;
  }
}