.techno{
    position: relative;
    top: 8%;
    margin: 10%;
    display: grid;
    grid-template-columns: 33% 67%;

    .img-container{
        text-align: right;
        line-height: 15px;
    }

    img{
        cursor: pointer;
        margin: 15px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    .docker{
        font: $font-5;
        opacity: 75%;
        color: rgb(54, 147, 240) ;
        font-size: 1.5rem;
        transform: scaleX(0);
        animation: transformTitle 1.5s ease forwards;

        @keyframes transformTitle {
            to {
              transform: scaleX(1);
            }
        }

        @media screen and (max-height:650px){
            font-size: 1.5rem;
        }
    }

    .ansible{
        font: $font-5;
        opacity: 80%;
        color: black;
        font-size: 1.5rem;
        transform: scaleX(0);
        animation: transformTitle 1.5s ease forwards;
        @keyframes transformTitle {
            to {
              transform: scaleX(1);
            }
        }

        @media screen and (max-height:650px){
            font-size: 1.5rem;
        }
    }

    .terraform{
        font: $font-5;
        opacity: 100%;
        color: #5F41EA;
        font-size: 1.5rem;
        transform: scaleX(0);
        animation: transformTitle 1.5s ease forwards;
        @keyframes transformTitle {
            to {
              transform: scaleX(1);
            }
        }

        @media screen and (max-height:650px){
            font-size: 1.5rem;
        }
    }

    .text-container{
        margin-left: 30px;
        border-radius: 8px;
        box-shadow: 1px 0px 10px $peche;
        width: 800px;
        height: 100%;
        transform: scaleY(0);
        animation: transformContainer 1.5s ease forwards;

        @media screen and (max-height:650px){
            width: 600px;
            height: 350px;
        }
        @keyframes transformContainer {
            to {
                transform: scaleY(1);
            }
        }

        p{
            position: relative;
            margin: 6px;
            font: $font-5;
            font-size: 1.75rem;
            margin: 15px;


            @media screen and (max-height: 650px){
                font-size: 1rem;
                margin-left: 5px;
            }
        }
    }


}
