.home {
  height: 100vh;
  width: 100vw;
  position: absolute;

  &:after {
    content: '';
    height: 600px;
    width: 600px;
    background: $peche;
    border-radius: 50%;
    position: absolute;
    bottom: -300px;
    right: 0px;
    z-index: -2;
    animation: homeAnim 12s infinite alternate;

    @media screen and (max-width: 650px){
      height: 400px;
      width: 400px;
      bottom: -270px;
    }

    @media screen and (max-height: 650px){
      height: 450px;
      width: 450px;
      bottom: -210px;
    }

    @keyframes homeAnim {
      50% {
        transform: scale(0.8);
      }
      100% {
        transform: scale(1.1);
      }
    }
    @media screen and (max-width: 430px){
      display: none;
    }
  }

  .home-main {
    display: grid;
    align-items: center;
    justify-items: center;
    padding-left: 1rem;
    width: auto;
    height: 95%;
    overflow: hidden;

    .main-content {
      user-select: none;

      .container {

        display: flex;
        justify-content: center;
        align-items: center;

        .box {
          width: 450px;
          height: 350px;
          position: relative;
          display: flex;
          justify-content: center;
          flex-direction: column;
        
          .title {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            height: 50px;
      
            .block {
              width: 0%;
              height: inherit;
              background: $peche;
              position: absolute;
              animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
              display: flex;
            }
      
            h1 {
              font-size: 3.7rem;
              position: relative;
              font-family: $font-5;
              color: $white;
              -webkit-animation: mainFadeIn 2s forwards;
              -o-animation: mainFadeIn 2s forwards;
              animation: mainFadeIn 2s forwards;
              animation-delay: 1.6s;
              opacity: 0;
              display: flex;
              align-items: baseline;

              @media screen and (max-width: 650px){
                font-size: 2rem;
              }
              @media screen and (min-width: 1200px){
                font-size: 5rem;
              }

              span {
                width:0px;
                height: 0px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;

                background: $peche;
                -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
                animation: popIn 1.2s cubic-bezier(.74, .06, .4, .92)  ;
                animation-delay: 2s;
                margin-left: 5px;
                margin-top: -10px;
                position: absolute;
                bottom: 10px;
                right: -15px;

              }
              
              &:before {
                content: '';
                position: absolute;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                border: 1px $peche solid;
                top: -50px;
                left: -35px;
                z-index: -1;
                animation: h1Anim 4s infinite alternate;
                animation-delay: 4s;
                transform: scale(0);
                opacity: 1;


                @media screen and (max-width: 850px){
                  height: 110px;
                  width: 110px;
                  left: -40px;
                  top: -15px;
                }

                @keyframes h1Anim {
                  to {
                    opacity: 0;
                    transform: scale(1);
                  }
                }
              }

              &:after {
                content: '';
                position: absolute;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                border: 1px $peche solid;
                top: 40px;
                left: 380px;
                z-index: -1;
                animation: h1Anim2 4s infinite alternate;
                animation-delay: 4s;
                opacity: 0;
                transform: scale(1);

                @keyframes h1Anim2 {
                  to {
                    opacity: 1;
                    transform: scale(0);
                  }
                }
              }
            }     
          }

          .role {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            height: 30px;
            margin-top: 5px;
      
            .block {
              width: 0%;
              height: inherit;
              background: #e91e63;
              position: absolute;
              animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
              animation-delay: 3s;
              display: flex;
            }
      
            p {
              margin-top: 10px;
              animation: secFadeIn 2s forwards;
              animation-delay: 4.2s;
              opacity: 0;
               font-weight: 400;
              color: #ffffff;
              font-size: 12px;
              text-transform: uppercase;
              letter-spacing: 5px;
            }
          }
        }
      }
    }

      h2 {
        font-size: 4.2rem;
        font-weight: 100;

        @media screen and (max-width: 650px){
          font-size: 2rem;
        }
        @media screen and (min-width: 1200px){
          font-size: 5rem;
        }
      }

      
  }

  @keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 100%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  
  @keyframes secBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 100%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  
  @keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  @keyframes popIn {
    0% {
      width: 0px;
      height: 0px;
      background: #e9d856;
      border: 0px solid #ddd;
      opacity: 0;
    }
    50% {
      width: 10px;
      height: 10px;
      background: #e9d856;
      opacity: 1;
      bottom: 20px;
    }
      65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px
      }
      80% {
        width: 10px;
        height: 10px;
        bottom: 10px
      }
    100% {
      width: 7px;
      height: 7px;
      background: #e9d856;
      border: 0px solid #222;
      bottom: 7px;
  
    }
  }
  
  @keyframes secFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }
}






