.line {
    position: absolute;
    height: 50%;
    width: 1px;
    left: 50%;
    top: 25%;
    background: $peche;
    transform: scaleY(1);
    animation: scaleLine 5s infinite alternate;
    @keyframes scaleLine {
        to {
            transform: scaleY(1.3);
        }
    }


}

.grid-pres {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    text-align: center;
    top: 25%;

    p {
       font: $font-5;
       font-size: 3rem;
        margin: 10px;

    }

    @media screen and(max-width:1500px) {
        p {
            font-size: 2rem;
        }
    }

}

.left-container {
    position: relative;
    display: grid;
    grid-template-rows: 30% 70%;
   
}

.avatar{
    height: 70%;
    width: 30%;
    left: 35%;
    border-radius: 50%;
    position: relative;
    background-color: $peche;

    

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;

    }
}

.right-container{

    .text{

        li{
            font-size: 2rem;
            margin:5%
        }
    }

    @media screen and(max-width:1500px){

        .text{

            li{
                font-size: 1.5rem;      
            }
        }
    }

}

